<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
			xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"

> 
	<!-- bean definition for Car -->
	<bean id="carBean" class="com.springcore.di.Car">
		<constructor-arg ref="carServiceBean"></constructor-arg>
	</bean>

	<!-- bean definition for CarService -->
	<bean id="carServiceBean" class="com.springcore.di.CarService"> </bean>


</beans>